{%  extends 'base.html' %}

{% block css %}
    <style>



        .go{
            width:20px;
             border: solid 1px;
            color: #66512c;
            display: inline-block;
            padding: 5px;
        }

        .pagination .page{
            border: solid 1px;
            color: #66512c;
            display: inline-block;
            padding: 5px;
            background-color: #d6dade;
            margin: 5px;
        }
        .pagination .page.active{
            background-color: black;
            color: white;
        }

        .hide{
            display: none;
        }
        .shade{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: black;
            opacity: 0.6;
            z-index: 100;
        }
        .add-modal,.edit-modal{
            position: fixed;
            height: 300px;
            width: 400px;
            top:100px;
            left: 50%;
            z-index: 101;
            border: 1px solid red;
            background: white;
            margin-left: -200px;
        }

        .group{
            margin-left: 20px;
            margin-bottom: 15px;
        }
    </style>

{% endblock %}


{% block content %}
 <h1 class="page-header">主机列表</h1>
    <div>
        <input id="add_host" type="button" value="添加" />
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>序号</th>
                <th>主机名</th>
                <th>IP</th>
                <th>端口</th>
                <th>业务线名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

                {% for row in v1 %}
                    <tr hid="{{ row.nid }}" bid="{{ row.b_id }}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ row.hostname }}</td>
                        <td>{{ row.ip }}</td>
                        <td>{{ row.port }}</td>
                        <td>{{ row.b.caption }}</td>
                        <td>
                            <a class="edit">编辑</a>|<a class="delete">删除</a>
                        </td>
                    </tr>
                {% endfor %}


        </tbody>



    </table>

      <div>
        <select id="ps" onchange="changePageSize(this)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="50">50</option>

        </select>
    </div>
    <div class="pagination">
        {{ page_str }}
    </div>




    <div class="shade hide"></div>
    <div class="add-modal hide">
        <form id="add_form" method="POST" action="/host">
            <div class="group"><h1>添加主机</h1></div>
            <div class="group">
                <input id="host" type="text" placeholder="主机名" name="hostname" />
            </div>

            <div class="group">
                <input id="ip" type="text" placeholder="IP" name="ip" />
            </div>

            <div class="group">
                <input id="port" type="text" placeholder="端口" name="port" />
            </div>

            <div class="group">
                <select id="sel" name="b_id">
                    {% for op in b_list %}
                    <option value="{{ op.id }}">{{ op.caption }}</option>
                    {% endfor %}
                </select>
            </div>

            <!--<input type="submit" value="提交" />-->
            <div class="group"><a id="ajax_submit" >提交</a>
            <a id="cancel" > 取消</a></div>

            <div class="group"><span id="erro_msg" style="color: red"></span></div>
        </form>







    </div>

    <div class="edit-modal hide">
        <form id="edit_form" method="POST" action="/host">
                 <div class="group"><h1>修改主机</h1></div>
            <div class="group">
                <input type="text" placeholder="主机名" name="hostname" /></div>
                <input type="text" name="nid" style="display:none" />
            <div class="group"><input type="text" placeholder="IP" name="ip" /></div>
            <div class="group"><input  type="text" placeholder="端口" name="port" /></div>
               <div class="group"> <select name="b_id">
                    {% for op in b_list %}
                    <option value="{{ op.id }}">{{ op.caption }}</option>
                    {% endfor %}
                </select>
               </div>
            <div class="group">
            <a id="ajax_submit_edit" >确认编辑</a>
            <a id="cancel1" > 取消</a></div>

        <span id="error_msg" style="color: red"></span>
        </form>


    </div>

{% endblock %}

{% block js %}
<script src="/static/jquery-1.12.4.js"></script>
<script src="/static/jquery.cookie.js"></script>
    <script>
        $(function(){
            $.cookie.raw = true;

            var v = $.cookie('email');
           $('#profile').text(v)
             var v = $.cookie('per_page_count',{'path':'/'});
             var v = $.cookie('per_page_count');
                console.log(v)
                $('#ps').val(v);
            $('#add_host').click(function(){
                $('.shade,.add-modal').removeClass('hide');
            });

            $('#cancel').click(function(){
                $('.shade,.add-modal').addClass('hide');
            });

            $('#cancel1').click(function(){
                $('.shade,.edit-modal').addClass('hide');
            });

            $('#ajax_submit').click(function(){
                $.ajax({
                    url: "/test_ajax",
                    type: 'POST',
                    data: {'hostname': $('#host').val(), 'ip': $('#ip').val(), 'port': $('#port').val(), 'b_id': $('#sel').val()},
                    //data: $('#add_form').serialize(),
                    success: function(data){
                        var obj = JSON.parse(data);
                        console.log(obj)
                        if(obj.status){
                            location.reload();
                        }else{
                            $('#erro_msg').text(obj.error);
                        }
                    }
                })
            });



            $('#ajax_submit_edit').click(function () {
                console.log('send')
                $.ajax({
                    data:$('#edit_form').serialize(),
                    url:'/host_modify_ajax',
                    type:'POST',
                    success:function(data){
                        var obj=JSON.parse(data);
                        console.log(obj)
                        if(obj.status){
                            location.reload()
                        }else{
                            $('#error_msg').text(obj.error);
                        }
                    }



                })


//                $.ajax({
////                    data:$('#edit_form').serialize(),
//                    data:{'hostname':'sydapp01','ip':'1.2.3.3','port':'22','b_id':'2'},
//                    url:'/host_modify_ajax',
//                    type:'POST',
//                    success: function(data1){
//                        console.log(data1)
//                        var obj=JSON.parse(data1);
//                        console.log(obj);
//                        if (obj.status){
//                            location.reload();
//                        }
//                        else{
//                            $('#erro_msg1').text(obj.error);
//                        }
//                    }
//
//
//                })

            })


            $('.delete').click(function () {

                var bid = $(this).parent().parent().attr('bid');
                var nid = $(this).parent().parent().attr('hid');

                var result = confirm("Want to delete?");
                if (result) {
                    //Logic to delete the item
                    $.ajax({
                        url:'/del_host_ajax',
                        type:'POST',
                        data:{'host_id':nid,'business_id':bid},
                        success:function (data) {
                            var obj=JSON.parse(data)
                            console.log(obj)
                            if(obj.status){
                                location.reload()

                            }
                            else{
                                alert(obj.error())
                            }

                        }


                    })

                }

            })


            $('.edit').click(function(){
                $('.shade,.edit-modal').removeClass('hide');

                var bid = $(this).parent().parent().attr('bid');
                var hostname=$(this).parent().prev().prev().prev().prev().text()


                var nid = $(this).parent().parent().attr('hid');

                $('#edit_form').find('input[name="hostname"]').val(hostname)

                $('#edit_form').find('select').val(bid);
                $('#edit_form').find('input[name="nid"]').val(nid);



                // 修改
                /*
                $.ajax({
                    data: $('#edit_form').serialize()
                });
                */
                // models.Host.objects.filter(nid=nid).update()
            })
        })


        function changePageSize(ths){
            var v = $(ths).val();
            console.log(v);
//            $.cookie('per_page_count',)
            $.cookie('per_page_count',v,{'path':'/'});


            location.reload();
        }


    </script>

{% endblock%}


{% block title%}主机{% endblock %}